/* Tablet */
@media (max-width:1000px) {
.kotak{
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}
.motor{
    width:40%;
    margin-bottom:20px;
  }
  .kotak-kiri{
      text-align:center;
  }
  .kotak-kanan{
      display:none;
  }
  .bingkai-atas{
      text-align:center;
  }
  .bingkai-atas p{
      display:none;
  }
}
